.bg-note {
    border-radius: 8px;
    background: #F9D973;
    color: #14213D;
    width: 100%;
}

.text-darkBlue {
    color: #14213D;
}

.text-note {
    font-size: 18px;
}

.image-link img {
    width: 100%;
}