.lockScreen {
    background: white;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 #14213d62, 0 6px 20px 0 #14213d62;
}

.text-mini {
    font-size: 20px;
    font-style: normal;
    font-weight: 350;
    line-height: normal;
    margin-right: 15px;
}